@import './variable'; // your variables (kept as provided)

// bootstrap imports (keep as you had)
@import "./../../node_modules/bootstrap/scss/functions";
@import "./../../node_modules/bootstrap/scss/variables";
@import "./../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $warning;
  color: $secondary;
  font-family: $font-family-sans-serif;
}

h1, .display-1 {
  font-family: $headings-font-family;
  font-size: $h1-font-size;
  line-height: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: $navbar-light-color;
  &:hover, &.active { color: $navbar-light-active-color; }
}


.nav-bg-left {
  background-color: $warning;  
  position: relative;
  overflow: visible;

  &::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 310px;  
    height: 200%;
    background-image: url("../images/Group 20.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
}

.nav-bg-left .container,
.nav-bg-left .navbar-brand,
.nav-bg-left .nav-link {
  position: relative;
  z-index: 2;
}


.hero-btn {
  border-radius: 0 !important;
  font-weight: 400;
    color: #ffffff !important; 
}
.hero-contact {
  color: $secondary;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.4px;
    width: 100%;
    height: 1.5px;
    background: black;
  }
}

.hero-decor {
  position: relative;
  overflow: hidden;            
  background-color: #fbf4ef;   
  color: #513125;
}


.line-short {
  display:inline-block;
  width:70px;
  height:1px;
  background:#513125;
}
.small-sub {
  font-size:.78rem;
  color:#c47a5e;
  letter-spacing:.18rem;
}

.hero-title {
  font-family: 'Cormorant', serif;
  font-size: clamp(1.6rem, 3.2vw, 2.5rem); 
  line-height: 1.18;
  color: #513125;
  margin-bottom: .75rem;
}
.hero-desc {
  max-width: 720px;
  color: #8b8b8b;
  font-size: clamp(.85rem, 1.1vw, .95rem);
}


.btn-learn {
  background: #c47a5e;
  color: #fff;
  padding: .55rem 1.2rem;
  border-radius: 2px;
  text-decoration: none;
}


.decor-img {
  position: absolute;
  z-index: 0;
  opacity: .95;
  pointer-events: none;   
  will-change: transform;
  transition: transform .3s ease;
  height: auto;
  max-width: none;       
}


.decor-top {
  top: -2vh;              
  left: -6vw;             
  width: clamp(120px, 22vw, 300px); 
  transform: translateZ(0);
}

.decor-bottom {
  right: -6vw;
  bottom: -1vh;
  width: clamp(120px, 22vw, 300px);
  transform: translateZ(0);
}


@media (max-width: 1199.98px) {
  .decor-top { left: -4vw; top: -1vh; width: clamp(110px, 20vw, 260px); }
  .decor-bottom { right: -4vw; bottom: -1vh; width: clamp(110px, 20vw, 260px); }
}


@media (max-width: 991.98px) {
  .decor-top, .decor-bottom {
    width: clamp(100px, 18vw, 220px);
  }
  .decor-top { left: -8vw; top: -2vh; }
  .decor-bottom { right: -8vw; bottom: -1vh; }
}


@media (max-width: 575.98px) {
  .hero-decor { overflow: hidden; }
  .hero-title { font-size: 1.6rem; }
  .hero-desc { padding: 0 1rem; }
}


.hero-decor .decor-img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.hero-content { z-index: 2; position: relative; }




// exposure
.exposure {
  padding-top: 6rem;   
  padding-bottom: 6rem; }


.exposure-number{
  font-family: "Cormorant", serif;
  font-size: 3.5rem;
  color: #513125;
  line-height: 1;
}


.exposure-bg-img{
  position: absolute;
  top: 50%;
  right: 0;
  width: 250px;
  transform: translateY(-50%);
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.exposure .container{
  position: relative;
  z-index: 2;
}


@media (max-width: 991px){
  .exposure-number{ font-size: 2.5rem; }
}

@media (max-width: 767px){
  .exposure-bg-img{ display:none; } /* hide right bg image on small screens */
}





p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.txt-19{
    font-size: 19px;
}
.txt-18{
    font-size: 18px;
}
.txt-17{
    font-size: 17px;
}
.txt-65{
    font-size: 65px;
}
.font-family{
    font-family: "Poppins", sans-serif;
}
.font-family-cormorant{
    font-family: "Cormorant", serif
}
.line{
    background-color: #FFFFFF;
    width: 100%;
    height: 1px;
}
.btn{
    --bs-border-radius: none;
}
.line-short{
    background-color: #111;
    width: 70px;
    height: 2px;
}
.link-deco{
    text-decoration: underline;
}
 

.section-wrap {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.intro-ratio {
  position: relative;
  min-height: 320px;
  border-radius: .375rem;
  overflow: hidden;

  .bg-cover {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: saturate(.95) contrast(.98);
  }

  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;

    .play-circle {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background: rgba(255, 255, 255, .92);
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 6px 18px rgba(0, 0, 0, .18);
      transition: .2s ease;
    }

    &:hover .play-circle {
      transform: scale(1.06);
      box-shadow: 0 10px 28px rgba(0, 0, 0, .25);
    }
  }
}


.overlap-card {
     background: #513125;
    color: #fff;
    width: calc(100% - 40px);   
  margin-left: 76px;
  margin-top: -120px;  
    border-radius: .375rem;
    position: relative;

  .card-body {
    padding: 1.8rem 1.8rem;
  }

  h5 {
    font-family: $headings-font-family;
    font-size: 1.25rem;
    margin-bottom: .7rem;
  }

  p {
    color: rgba(255,255,255,.95);
  }

  .card-decor {
       position: absolute;
    right: -10px;
    bottom: 0;
    width: 150px;
    opacity: 8.15;
    pointer-events: none;
  }
}

.right-card {
  border-radius: .375rem;
  position: relative;

  .card-body {
    padding: 1.8rem 1.8rem;
  }

  .card-decor {
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 150px;
    opacity: 8;
    pointer-events: none;
  }
}

.right-card.comfort {
  background: $primary; 
  color: $light;

  a {
    color: $light;
  }
}


.right-card.affordable {
  background: $danger;     
  color: $secondary;

  p {
    color: $info;        
  }

  a {
    color: $secondary;
  }
}


.heading-serif {
  font-family: $headings-font-family;
  font-weight: 400;
}


.divider-line {
  width: 60px;
  height: 2px;
  background: black;
  margin-left: .5rem;
}

@media (max-width: 992px) {
  .overlap-card {
    width: 100%;
    margin-left: 0;
    margin-top: -32px;
  }
}

@media (max-width: 576px) {
  .play-circle {
    width: 60px !important;
    height: 60px !important;
  }

  .card-decor {
    display: none;
  }
}



// course

.courses .course {
  position: relative;   
  margin-bottom: 150px;
}

.courses .course>img {
  max-width: 100%;
  height: auto;
}


.courses .course .box {
  position: absolute;          
  left: 50%;                   
  transform: translateX(-50%);
  bottom: -80px;               
  width: 85%;
  z-index: 10;
  background-color: #b96851;
  padding: 25px 30px;
  text-align: center;
  background-image: url("../images/curved.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 140px;
}


.testimonial-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-line {
  display: inline-block;
  width: 108px;         
  height: 1.5px;
  background-color: #1a1a1a; 
  opacity: 0.8;
}
.testimonial-card {
    border-radius: 0;
    position: relative;
    overflow: hidden;
    height: auto !important;   

    .curve-img {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;     
        opacity: 9;    
        pointer-events: none;
        user-select: none;
    }
}





















.square-btn {
    border-radius: 0 !important;
}

.trainer-card {
    background: #F4EEE7;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.trainer-bg-shape {
position: absolute;
    top: 0;
    left: 0px;
    width: 60%;
    height: 150px;
    background: url(../images/trainer.png) top center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 1;
}


.trainer-img-wrap {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 2; 
}

.trainer-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



























.blog-section {
  background: #fbf6f1; 
  color: #3a2b24;
  .blog-title {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.2px;
    color: #6b4a3f;
  }

  .feature-post {
    border-radius: 6px;
    overflow: hidden;
    background: #fff;

    .feature-img {
      height: 100%;
      object-fit: cover; 
      min-height: 230px;
    }

    .feature-heading {
      color: #3d2b24;
      font-family: 'Cormorant Garamond', serif;
    }

    .read-more {
      color: #8b4b3b;
      font-weight: 600;
      &:hover { text-decoration: underline; }
    }
  }

  .list-posts {
    .thumb {
      width: 86px;
      height: 60px;
      object-fit: cover;
    }

    .post-title {
      font-size: 0.95rem;
      margin-bottom: .25rem;
      font-family: 'Cormorant Garamond', serif;
      color: #4b2f26;
    }

    .small-post {
      padding-bottom: .5rem;
    }
  }
}

@media (max-width: 991.98px) {
  .feature-post .feature-img { min-height: 240px; }
  .list-posts .thumb { width: 80px; height: 56px; }
}



























.row.gx-3 {
  --bs-gutter-x: 1rem; 
}

.right-list p.small {
  white-space: nowrap;
}

.featured-wrapper {
  display: inline-block;
  padding: 6px;
  background:#F4EDE5;
  width: 100%;
}

.featured-image {
  height: 620px;
  background-size: cover;
  background-position: center;
}

.featured-body {
  position: relative;
  background: #F4EDE5;
  padding: 1.5rem;
}

.shape-img {
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 45%;
  opacity: 5%;
  z-index: 1;
}

.right-list .list-item {
  border: none !important;
  padding: 0;
}

.thumb {
  width: 250px;
  height: 166px;
  object-fit: cover;
  border-radius: 2px;
}
.blog-line {
  display: inline-block;
  width: 90px;   
  height: 1.5px;    
  background-color: #4a403a;
  opacity: 0.7;    
}

.thick-underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;     
}


@media (max-width: 992px) {
  .featured-image { height: 420px; }
  .thumb { width: 160px; height: 110px; }
}

@media (max-width: 576px) {
  .featured-image { height: 260px; }
  .thumb { width: 120px; height: 80px; }
}


















.site-footer {
  background:#513125;           
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
}


.footer-left-decor {
position: absolute;
    left: 0px;
    top: 100px;
    width: 100px;
    opacity: 4;
    pointer-events: none;
}


.footer-right-decor {
    position: absolute;
    right: -80px;
    bottom: 0;
    width: 190px;
    opacity: 4;
    pointer-events: none;
}


.site-footer .logo-wrap img {
  max-width: 180px;
  height: auto;
  display:block;
}


.site-footer h3, .site-footer .fs-5 {
  margin: 0 0 .5rem 0;
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
}


.site-footer p, .site-footer li, .site-footer span {
  color: rgba(255,255,255,0.92);
  font-size: .9rem;
}


.site-footer .input-group .form-control {
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.06);
  color: #fff;
  min-height: 38px;
}
.site-footer .input-group .btn {
  background: rgba(255,255,255,0.09);
  border: 1px solid rgba(255,255,255,0.06);
  color: #fff;
}


.site-footer a { color: rgba(255,255,255,0.95); }
.site-footer a:hover { color: #f3e9e5; text-decoration: underline; }


.site-footer .border-top { margin-top: .5rem; }


@media (max-width: 991.98px) {
  .footer-left-decor { left: -80px; width: 220px; top: 8px; }
  .footer-right-decor { right: -40px; width: 220px; bottom: -20px; }
  .site-footer .logo-wrap img { max-width: 150px; }
}

@media (max-width: 576px) {
  .site-footer { padding-top: 1.5rem; }
  .site-footer .py-3 { flex-direction: column; gap: .5rem; align-items:flex-start; }
}


